<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>

<h2>Update your status my friend</h2>

<button>Enter</button>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>


</html>
