*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }


.angular-google-map-container {
  margin: 0 auto;
  text-align: center;
  height: 450px;
  width: 100%;
  border: solid black;
  margin: 0 auto;
  border-radius: 10px;
}
