<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <$- include('../partials/head') $>
</head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">


<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>

  <main>

   <div id="login">
      <h1>Spot Update</h1>
      <h3>Share your thoughts instantly.</h3>
        <ul class="right">

         <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons left"></i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons left"></i>Login with Google</a></li>
          <$ } $>
        </ul>

  </div>

    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>


    <ul id="messages"></ul><hr>

    <form action="">
      <label>Your Name:</label><input id="user-name"><br><br>
      <label>Message:</label><textarea id="new-msg"></textarea><br><br>
      <input type="button" id="btn-send-msg" value=" Send Message ">
    </form>



  </main>

<!--   <$- include('../partials/scripts') $>
 -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>


</html>
